:root {
    font: 16px / 1 sans-serif;
}

html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
}

header {
    background-color: #f0f0f0;
    height: 3rem;
}

.logoImg {
    width: 12em;
}

.navBar {
    height: 100%;
}

.navBar ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
}

.navBar li {
    padding-right: 2em;
}

/* Main Section - octocate figure grid */

/* the figure width */
figure {
    width: 27rem;
}

figcaption {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #cacaca;
}

.octocatContent ul {
    list-style: none;
}

.octocatContent img {
    width: 100%;
}

.octocatMainImg {
    border: solid #ebebeb;
}

.octocatContent .creditIcon {
    width: 1.25em;
}
