:root {
    font: 16px / 1 sans-serif;
}

html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
}

header {
    background-color: #f0f0f0;
    height: 3rem;
}

.logoImg {
    width: 12em;
}

.navBar {
    height: 100%;
}

.navBar ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
}

.navBar li {
    padding-right: 2em;
}

.octocatContent ul {
    list-style: none;
}

.octocatContent img {
    width: 26.5rem;
}

.octocatContent .creditIcon {
    width: 1.25em;
}
